@font-face {
    font-family: 'Comic Neue';
    src: url('../Fonts/ComicNeue-Bold.woff2') format('woff2'),
        url('../Fonts/ComicNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue';
    src: url('../Fonts/ComicNeue-Light.woff2') format('woff2'),
        url('../Fonts/ComicNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Neue';
    src: url('../Fonts/ComicNeue-Regular.woff2') format('woff2'),
        url('../Fonts/ComicNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}